.contenedor{
	width: 100%;
	max-width: auto;
	margin: 1px auto;
	display: grid;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(1, auto);
	grid-template-areas: 
						 "tabla";
}
 
.contenedor .tabla{
	grid-area: tabla;
}

 