<div class="contenedor">

    <div class="titulo">
        <h2>TABLAS</h2>
    </div>
         
    <div  class="buscador">
    
        <div >                    
            <form id="search-box"  [formGroup]="formBuscar" (ngSubmit)="buscar()" >
                <input id="search-form" type="text" placeholder="Buscar por Nombre del procedimiento"  formControlName="palabraclave"  >
                <button id="search-button" type="submit"  ></button>
            </form>                                                                      
        </div>
    </div>

    <div class="tipocbuscado">
        <div class="example-full-width" style="margin-top: 10px; margin-left: 30px;">
            <section class="example-section">
                <mat-checkbox class="example-margin"  [(ngModel)]="palabracompleta" >Buscar palabra completa</mat-checkbox>            
            </section>
        </div>        
    </div>

    <div  class="tabla">
        <mat-table [dataSource]="dataSource" matSort >
    
            <ng-container matColumnDef="Id"  >
                       <mat-header-cell  fxFlex="15%"   *matHeaderCellDef mat-sort-header  >Id </mat-header-cell>
                       <mat-cell  fxFlex="15%"   *matCellDef="let row" > {{row.object_id}}</mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="Esquema"  >
                <mat-header-cell  fxFlex="15%"   *matHeaderCellDef mat-sort-header  >Esquema </mat-header-cell>
                <mat-cell  fxFlex="15%"   *matCellDef="let row" > {{row.schema}}</mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="Nombre"  >
                <mat-header-cell  fxFlex="30%"   *matHeaderCellDef mat-sort-header  >Nombre </mat-header-cell>
                <mat-cell  fxFlex="30%"   *matCellDef="let row" > {{row.name}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Fecha_Creacion"  >
                <mat-header-cell  fxFlex="15%"   *matHeaderCellDef mat-sort-header  >Fecha_Creacion </mat-header-cell>
                <mat-cell  fxFlex="15%"   *matCellDef="let row" > {{row.create_date  | date: 'yyyy-MM-dd hh:mm a' }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Fecha_Modificacion"  >
                <mat-header-cell  fxFlex="15%"   *matHeaderCellDef mat-sort-header  >Fecha_Modificacion </mat-header-cell>
                <mat-cell  fxFlex="15%"   *matCellDef="let row" > {{row.modify_date | date: 'yyyy-MM-dd hh:mm a'}}</mat-cell>
            </ng-container>
            
    
            <ng-container matColumnDef="Accion" >
                <mat-header-cell fxFlex="10%" *matHeaderCellDef mat-sort-header class="headStiloAccion" >Descargar</mat-header-cell>
                <mat-cell  fxFlex="10%" *matCellDef="let row;"  class="rowStiloAccion" >
                    <button   mat-icon-button color="primary" matTooltip="Descargar"  (click)="descargartabla(row)">
                        <mat-icon>get_app</mat-icon>
                    </button>  
                    <button   mat-icon-button color="primary" matTooltip="history"  (click)="descargarhistorial(row)">
                        <mat-icon>history</mat-icon>
                    </button>
                    <button   mat-icon-button color="primary" matTooltip="Script"  (click)="verscript(row)">
                        <mat-icon>grading</mat-icon>
                    </button> 
                     
                </mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
       </mat-table>
    
       <mat-paginator   [pageSize]="10"   [pageSizeOptions]="[5, 10, 25, 50, 100 ]"  showFirstLastButtons  [length]="cantidad" (page)="mostrarMas($event)" class="headStilo" >
    </mat-paginator>
    
    </div>
        
</div>
