<div class="contenedor">

    <div class="titulo">        
        <h2 style="margin-left: 40px;">PROCEDIMIENTOS</h2>
    </div>
    <div class="cantidad">   
        <h1>Cantidad: {{cantidadprocedimientos}}  </h1>
    </div>
     
    
    <div  class="buscador">      
            <form id="search-box"  [formGroup]="formBuscar" (ngSubmit)="buscar()" >
                <input id="search-form" type="text" placeholder="Buscar por Nombre del procedimiento"  formControlName="palabraclave"  >
                <button id="search-button" type="submit"  ></button>
            </form>   
    </div>

    <div class="tipobusqueda">
       
            <mat-radio-group name="opciones"  [(ngModel)]="operacionSeleccionada">
                <mat-radio-button *ngFor="let op of tipoOperaciones" name="opciones" [value]="op"  style="margin: 10px;">
                  {{op}}
                </mat-radio-button>
              </mat-radio-group>
    
    </div>
     

    <div  class="tabla">
        <mat-table [dataSource]="dataSource" matSort >
    
            <ng-container matColumnDef="Id"  >
                       <mat-header-cell  fxFlex="10%"   *matHeaderCellDef mat-sort-header  >Id </mat-header-cell>
                       <mat-cell  fxFlex="10%"   *matCellDef="let row" > {{row.object_id}}</mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="Esquema"  >
                <mat-header-cell  fxFlex="10%"   *matHeaderCellDef mat-sort-header  >Esquema </mat-header-cell>
                <mat-cell  fxFlex="10%"   *matCellDef="let row" > {{row.schema}}</mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="Nombre"  >
                <mat-header-cell  fxFlex="40%"   *matHeaderCellDef mat-sort-header  >Nombre </mat-header-cell>
                <mat-cell  fxFlex="40%"   *matCellDef="let row" > {{row.name}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Fecha_Creacion"  >
                <mat-header-cell  fxFlex="15%"   *matHeaderCellDef mat-sort-header  >Fecha_Creacion </mat-header-cell>
                <mat-cell  fxFlex="15%"   *matCellDef="let row" > {{row.create_date | date: 'yyyy-MM-dd hh:mm a'}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="Fecha_Modificacion"  >
                <mat-header-cell  fxFlex="15%"   *matHeaderCellDef mat-sort-header  >Fecha_Modificacion </mat-header-cell>
                <mat-cell  fxFlex="15%"   *matCellDef="let row" > {{row.modify_date | date: 'yyyy-MM-dd hh:mm a'}}</mat-cell>
            </ng-container>
            
    
            <ng-container matColumnDef="Accion" >
                <mat-header-cell fxFlex="10%" *matHeaderCellDef mat-sort-header class="headStiloAccion" >Accion</mat-header-cell>
                <mat-cell  fxFlex="10%" *matCellDef="let row;"  class="rowStiloAccion" >
                    <button   mat-icon-button color="primary" matTooltip="Descargar"  (click)="descargarprocedure(row)">
                        <!-- <mat-icon>get_app</mat-icon> -->
                        <img  src="assets/iconos/download.png" width="28" height="28"  />
                    </button>  
                    <button   mat-icon-button color="primary" matTooltip="Historial"  (click)="descargarhistorial(row)">
                        <!-- <mat-icon>history</mat-icon> -->
                        <img  src="assets/iconos/historial.png" width="28" height="28"  />
                    </button>
                    <button   mat-icon-button color="primary" matTooltip="Script"  (click)="verscript(row)">
                        <!-- <mat-icon>grading</mat-icon> -->
                        <img  src="assets/iconos/scripsql1.png" width="28" height="28"  />
                    </button> 
                     
                </mat-cell>
            </ng-container>
    
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
       </mat-table>
    
       <mat-paginator   [pageSize]="10"   [pageSizeOptions]="[5, 10, 25, 50, 100 ]"  showFirstLastButtons  [length]="cantidad" (page)="mostrarMas($event)" class="headStilo" >
    </mat-paginator>
    
    </div>
    
</div>


