
/*INCIIO -> ESTILO PARA EL BUSCADOR -----------------------------------------------------------------*/
#search-box {
	height: 45px;
	width: 100%;
	 }
  
  #search-box #search-form, #search-box #search-button {
	box-sizing: border-box;
	height: 100%; 
	}
  
  #search-box #search-form {
	width: 85%;
	border: 1px solid #ccc;
	border-right: none;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 1px 0 rgba(8, 23, 38, 0.02) inset, 0 0 2px rgba(8, 23, 38, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
	padding: 0 4px;
	outline: none;
	float: left; }
  
  #search-box #search-form:focus {
	outline: none;
	border: 2px solid #47b98f; }
  
  #search-box #search-button {
	width: 15%;
	border: 1px solid #47b98f;
	border-radius: 0 5px 5px 0;
	background: url("../../../assets/iconos/search_w.png") center center no-repeat;
	background-color: #47b98f;
	float: right;
	position: relative;	
	left: -2px; 
	cursor: pointer;}
  
  #search-box #search-button:hover, #search-box #search-button:active {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out; }
  
  #search-box #search-button:hover {
	border: 1px solid #37a97f;
	background-color: #37a97f; }
  
  #search-box #search-button:active {
	outline: none;
	border: 1px solid #1b8d6d;
	background-color: #1b8d6d; }
  
  /* For Smartphone */
  @media only screen and (max-width: 480px) {
	#search-box #search-button:hover {
	  border: 1px solid #47b98f;
	  background-color: #47b98f; } }


/*FIN ESTILO PARA EL BUSCADO-------------------------------------------------------*/






/*INICIO Estilo Grid contenedor*/

.contenedor{
	width: 100%;
	max-width: auto;
	margin: 15px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-template-areas: "titulo titulo . . cantidad"
						 "buscador buscador buscador tipobusqueda tipobusqueda"
						 "tabla tabla tabla tabla tabla";
}

.contenedor .titulo{
 
	text-align: left;
	padding-top: 10px;	
	grid-area: titulo;
}

.contenedor .cantidad{
	border-width: 2px;
	background-color: #eeecec;
	border-style: solid;
	border-color: rgba(48,44,156,0.25);
	border-radius: 0px 25px 0px 25px;
	height: 40px;
	text-align: center;
	padding-top: 8px;	

	grid-area: cantidad;
} 

.contenedor .buscador{
	grid-area: buscador;
}

.contenedor .tipobusqueda {
	grid-area: tipobusqueda;
}

.contenedor .tabla{
	grid-area: tabla;
}


@media screen and (max-width: 1000px){
	.contenedor {
		grid-template-areas: "titulo titulo titulo cantidad cantidad"						 
						 "buscador buscador buscador buscador buscador"
						 "tipobusqueda tipobusqueda tipobusqueda tipobusqueda tipobusqueda"
						 "tabla tabla tabla tabla tabla";
	}
}
/*FIN Estilo Grid contenedor*/


