
 
  <div>
    <button  class="classboton" fxShow.lt-md="false" fxShow.gt-sm="true"  style="width: 100%; height: 42px;" mat-raised-button color="primary" (click)="descargar()"><mat-icon>read_more</mat-icon>ACTUALIZAR</button>  
  </div>


    <div class="contenedor">

        <div  class="tabla">
                <mat-table [dataSource]="dataSource" matSort >
            
                    <ng-container matColumnDef="EventDate"  >
                            <mat-header-cell  fxFlex="15%"   *matHeaderCellDef mat-sort-header  >EventDate </mat-header-cell>
                            <mat-cell  fxFlex="15%"   *matCellDef="let row" > {{row.eventdate | date: 'yyyy-MM-dd hh:mm a'}}</mat-cell>
                    </ng-container>
            
                    <ng-container matColumnDef="EventType"  >
                        <mat-header-cell  fxFlex="15%"   *matHeaderCellDef mat-sort-header  >EventType </mat-header-cell>
                        <mat-cell  fxFlex="15%"   *matCellDef="let row" > {{row.eventtype}}</mat-cell>
                    </ng-container>
            
                    <ng-container matColumnDef="Databaase"  >
                        <mat-header-cell  fxFlex="10%"   *matHeaderCellDef mat-sort-header  >Databaase </mat-header-cell>
                        <mat-cell  fxFlex="10%"   *matCellDef="let row" > {{row.databasename}}</mat-cell>
                    </ng-container>
                    
                    <ng-container matColumnDef="Schema"  >
                        <mat-header-cell  fxFlex="10%"   *matHeaderCellDef mat-sort-header  >Schema </mat-header-cell>
                        <mat-cell  fxFlex="10%"   *matCellDef="let row" > {{row.schemaname}}</mat-cell>
                    </ng-container>
                    
                    <ng-container matColumnDef="HostName"  >
                        <mat-header-cell  fxFlex="10%"   *matHeaderCellDef mat-sort-header  >HostName </mat-header-cell>
                        <mat-cell  fxFlex="10%"   *matCellDef="let row" > {{row.hostname}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="IPAddress"  >
                        <mat-header-cell  fxFlex="10%"   *matHeaderCellDef mat-sort-header  >IPAddress </mat-header-cell>
                        <mat-cell  fxFlex="10%"   *matCellDef="let row" > {{row.ipaddress}}</mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="ProgramName"  >
                        <mat-header-cell  fxFlex="15%"   *matHeaderCellDef mat-sort-header  >ProgramName </mat-header-cell>
                        <mat-cell  fxFlex="15%"   *matCellDef="let row" > {{row.programname}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="LoginName"  >
                        <mat-header-cell  fxFlex="10%"   *matHeaderCellDef mat-sort-header  >LoginName </mat-header-cell>
                        <mat-cell  fxFlex="10%"   *matCellDef="let row" > {{row.loginname}}</mat-cell>
                    </ng-container>
        
                    <ng-container matColumnDef="Accion" >
                        <mat-header-cell fxFlex="5%" *matHeaderCellDef mat-sort-header class="headStiloAccion" >Accion</mat-header-cell>
                        <mat-cell  fxFlex="5%" *matCellDef="let row;"  class="rowStiloAccion" >
                            <button   mat-icon-button color="primary" matTooltip="Descargar"  (click)="descargarhistorial(row)">
                                <mat-icon>get_app</mat-icon>
                            </button> 
                            <button   mat-icon-button color="primary" matTooltip="ver Script"  (click)="verscript(row)">
                                <mat-icon>grading</mat-icon>
                            </button>  
                        </mat-cell>
                    </ng-container>
            
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            
            </mat-table>
            
            <mat-paginator   [pageSize]="10"   [pageSizeOptions]="[5, 10, 25, 100 ]"  showFirstLastButtons  [length]="cantidad" (page)="mostrarMas($event)" class="headStilo" >
            </mat-paginator>
    
    </div>

</div>
