<div  class="cabecera">          
    <div class="titulo">
        {{nombreprocedimiento}}
    </div>
    <div class="botoncerrar">
        <button mat-button   (click)="cerrarDialogo()">
            <mat-icon>backspace</mat-icon>
        </button>
    </div>    
</div>

<div class="codigo">
    <section  fxLayout="column" fxLayoutAlign="center center">
        <mat-dialog-content style="width: 100%; padding-top: 0px;"> 
            <div *ngFor="let item of script" style="font-family: 'Courier New', Courier, monospace;" >
            <span>{{item}}</span>
            </div>
        </mat-dialog-content>
    </section>
</div>


