<div  class="cabecera">          
    <div class="titulo">
        {{nombreprocedimiento}}
    </div>
    <div class="botoncerrar">
        <button mat-button   (click)="cerrarDialogo()"  >
            <img  src="assets/iconos/close.png" width="30" height="30"  />
        </button>
    </div>    
</div>

<div class="codigo">
    <section  fxLayout="column" fxLayoutAlign="center center">          
        <mat-dialog-content style="width: 100%; padding-top: 10px;"> 
            <div  style="font-family: 'Courier New', Courier, monospace;"  [innerHTML]="scripttexto"></div>
        </mat-dialog-content>
    </section>
</div>



